/* Add this CSS to your stylesheet */

body {
  background: #5d89cc;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  padding: 30px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  margin: 0 auto; /* Center the todo list horizontally */
  padding: 14px;
}

.singleTodoItem {
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 8px 10px;
}

.singleTodoItem.completed {
  text-decoration: line-through;
  color: green;
}

.itemInput {
  width: 250px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.addItemButton {
  background-color: #008cba;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.addItemButton:hover {
  background-color: #007baa;
}

.markCompleteTodoItem,
.removeTodoItem {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.removeTodoItem {
  background-color: #f44336;
}

.markCompleteTodoItem:hover,
.removeTodoItem:hover {
  background-color: #c0392b;
}
